/// <reference path="../../_design-system.scss" />

//
// Subject:         Images
// Description:     Defines styles for images.
//
// ===========================================================================

/* ========================================================================
   Core: Images
 ========================================================================== */

// Responsive image
//
// Keep images from scaling beyond the width of their parents.

.image-fluid {
    height: auto;
    max-width: 100%;
}

.image-cover {
    background-size: cover;
}

.image-contain {
    background-size: contain;
}

.image-no-repeat {
    background-repeat: no-repeat;
}

.image-position-cc {
    background-position: center center;
}

.image-position-tl {
    background-position: top left;
}

.image-position-tr {
    background-position: top right;
}

.image-position-cl {
    background-position: center left;
}

.image-position-cr {
    background-position: center right;
}