/// <reference path="../../_design-system.scss" />
//
// Subject:         Navbar
// Description:     Defines styles for navbar.
//
// ===========================================================================

/* ========================================================================
   Layout: Navbar
 ========================================================================== */

 body.has-navbar-sticky {
    padding-top: $navbar-height;

    .navbar {
        position: fixed;
        top: 0;
    }
    .navbar-search-autocomplete {
        &.autocomplete {
            position: fixed;
            top: $navbar-height !important;
        }
    }
}

body:not(.has-navbar-sticky) {
    .navbar-search-show .navbar-search-overlay {
        display: none;
    }
}

body.navbar-focus::after {
    content: "";
    position: fixed;
    background-color: rgba(38, 38, 38, 0.12);
    transition: background-color 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

body:not(.navbar-focus)::after {
    content: "";
    transition: background-color 200ms ease-in-out;
}

.navbar {
    background-color: $navbar-background-color;
    border-bottom: 1px solid $navbar-border;
    display: flex;
    height: $navbar-height;
    position: relative;
    text-transform: uppercase;
    transform: translateZ(0);
    width: 100%;
    z-index: $zindex-navbar;
    
    [class*="icon-"] {
        font-size: 1.25em;
    }
}

/* Container
 ========================================================================== */

.navbar-container {
    @include make-container;
    @include make-container-max-widths;
    display: flex;
    position: static;

    @include breakpoint-down("tablet") {
        width: 100%;
        padding-right: 0;
    }
}

/* Item
 ========================================================================== */

.navbar-item {
    align-items: center;
    display: flex;
}

/* Logo
 ========================================================================== */

.navbar-logo {
    @extend .navbar-item;
    background-image: url($navbar-logo-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $navbar-logo-width $navbar-logo-height;
    margin-right: auto;
    width: $navbar-logo-width;

    @include breakpoint-up("desktop") {
        margin-right: $navbar-logo-spacing;
        position: relative;
        z-index: $zindex-logo;
    }
}

/* Link
 ========================================================================== */

.navbar-link {
    color: $navbar-color;
    font-weight: $base-body-font-weight;
    text-decoration: none;

    &:hover {
        color: $navbar-active-color;
        text-decoration: none;
    }

    @include breakpoint-down("tablet") {
        &:hover, &:focus, &:active {
            background-color: $navbar-menu-background-color;
        }
    }
}

/* Menu
 ========================================================================== */

@keyframes navbar-menu-slide-out {
    0% {}
    100% {
        transform: translateX(-100%);
    }
}

@keyframes navbar-menu-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes navbar-menu-sub-slide-in {
    0% {
        visibility: visible;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes navbar-menu-sub-slide-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.navbar-menu {
    @extend .navbar-item;

    @include breakpoint-up("desktop") {
        /// :not(.navbar-menu-fixed) is a technicall debt, will be phased out when
        /// the consumer side of website will also switch to the fixed variant.
        &:not(.navbar-menu-fixed) {
            .navbar-menu-sub {                
                left: 0;
                margin-left: 0;
                max-width: 100vw;
                width: 100vw;

                /// rather not have such a selector as this div[class*="row"] (because of overwriting core styling)
                div[class*="row"] {
                    margin: 0 auto;
                    border-left: 1px solid $navbar-border;

                    /// rather not have such a selector as this div[class*="column"] (because of overwriting core styling)
                    > div[class*="column"] {
                        display: inline-block;
                    }
                }
            }

            .navbar-menu-sub-container {
                @include make-container;
                @include make-container-max-widths;
            }
        }

        &.navbar-menu-fixed .navbar-menu-sub {
            margin-left: $spacer-x - 3;
        
            div[class*="navbar-menu-sub-promo-column"]:last-of-type {
                margin-right: $spacer-x;
            }
        }
        
    }

    @include breakpoint-down("tablet") {
        @include transition(opacity $navbar-menu-animation ease-in-out);
        -webkit-overflow-scrolling: touch;
        background-color: $navbar-menu-background-color;
        display: block;
        height: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: $navbar-height;
        transform: translateZ(0) translateY(0);
        width: 100vw;
        z-index: -1;

        &.navbar-menu-deep {
            overflow-y: auto;
        }
    }
}

.navbar-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        > a {
            display: block;
            padding: 22px $navbar-menu-spacing;
            position: relative;
        }

        &:hover > a,
        &.is-active > a {
            color: $navbar-active-color;
            &:hover {
                color: $navbar-active-color;
            }
        }
        &.is-primary-item > a {
            font-weight: 900;
        }
    }

    @include breakpoint-down("tablet") {
        &.navbar-menu-slide-out {
            animation: navbar-menu-slide-out 200ms ease-in-out forwards;
        }
        &.navbar-menu-slide-in {
            animation: navbar-menu-slide-in 200ms ease-in-out forwards;
        }

        > li {
            border-bottom: 1px solid $navbar-border;
            display: block;

            > a:not(:last-child) {
                &.navbar-menu-sub-slide-in+.navbar-menu-sub {
                    animation: navbar-menu-sub-slide-in 200ms ease-out forwards;
                }

                &.navbar-menu-sub-slide-out+.navbar-menu-sub {
                    animation: navbar-menu-sub-slide-out 200ms ease-in forwards;
                }

                &:after {
                    content: $icon-arrow-right;
                    font-family: "teleicon-ui";
                    position: absolute;
                    top: calc(50% - 0.5em);
                    right: $navbar-menu-spacing;
                }
            }
        }
    }
    
    @include breakpoint-up("desktop") {
        padding: 0 $navbar-menu-spacing;

        > li {
            float: left;
            > a {
                height: $navbar-height;
                line-height: $navbar-height;
                padding: 0 $navbar-menu-spacing;

                &:before {
                    @include transition(all 300ms cubic-bezier(0.075, 0.82, 0.165, 1));
                    background-color: $navbar-active-color;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 0;
                    margin: 0 auto;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    width: 0;
                }
            }

            &:hover>a:before {
                opacity: 1;
                width: 100%;
            }

            &:hover>a:not(:last-child) + .navbar-menu-sub {
                visibility: visible;
            }
        }
    }
}

.navbar-menu-sub {
    background-color: $navbar-background-color;
    position: absolute;
    text-transform: none;
    visibility: hidden;

    @include breakpoint-up("desktop") {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
        padding: $navbar-menu-sub-spacing-desktop;
    }

    @include breakpoint-down("tablet") {
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        right: -100%;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.navbar-menu-sub-container {
    @include breakpoint-up("desktop") {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        position: relative;
    }

    @include breakpoint-up("desktop") {
        .row {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}

.navbar-menu-sub-column {
    @include breakpoint-up("desktop") {
        width: auto;

        &:not(:first-of-type) {
            border-left: 1px solid $navbar-border;
        }
    }

    @include breakpoint-down("tablet") {
        margin-bottom: 0;

        .navbar-menu-sub-list {
            border-bottom: 1px solid $navbar-border;
        }
    }
}

.navbar-menu-sub-promo-column {
    a:hover, a:focus {
        text-decoration: none;
    }

    @include breakpoint-up("desktop") {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-left: $spacer-x;

        ~ .navbar-menu-sub-promo-column,
        .navbar-full-image-promo figure,
        .navbar-image-promo {
            margin: 0;
        }

        &:nth-of-type(1n+2) {
            margin-left: $spacer-x;
        }
    }

    @include breakpoint-down("desktop") {
        margin-bottom: 0;
    }

    @include breakpoint-down("tablet") {
        align-items: center;
        background-color: $color-bright;
        display: flex;
        margin: -1px 0;
        padding: 1px $spacer-x 0;
        width: auto;


        figure {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        a > figure {
            background-color: transparent;
        }
    }
}

.navbar-image-promo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    figcaption {
        text-align: center;
    }

    figcaption > span:first-of-type {
        display: block;
        font-weight: 800;
    }

    @include breakpoint-up("desktop") {
        align-items: center;
        background-color: $navbar-menu-sub-title-background-color;
        flex: 1 0 auto;
        height: 100%;
        padding: 0 $spacer-x;
        position: relative;
        max-width: 200px;
        width: 200px;
        z-index: 1;

        img, a {
            max-width: 100%;
            min-height: 1px;
            padding-bottom: 0;
            padding: 0 $spacer-x - 0.5;
        }

        img {
            max-height: 250px;
            object-fit: contain;
        }

        figcaption > span:first-of-type { 
            padding-top: $spacer-y; 
        }
    }

    @include breakpoint-down("tablet") {
        background-color: $navbar-menu-sub-title-background-color;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 0 $spacer-x $spacer-y;
        padding: $spacer-y 0;
        
        a {
            text-align: center;
        }

        img {
            max-width: 75%;
        }
    }

}

.navbar-full-image-promo {
    align-items: center;
    display: flex;
    justify-content: center;

    figure {
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 100%;
        flex: 1 0 auto;
        justify-content: center;
    }

    figcaption {
        text-align: center;

        > span {
            font-weight: 800;
            text-align: center;
        }
    }
    
    @include breakpoint-up("desktop") {
        height: 100%;

        figure {
            height: inherit;
            max-width: 200px;
            width: 200px;
        }
    }

    @include breakpoint-down("tablet") {
        height: 300px;
        margin: 0 $spacer-x $spacer-y;
        width: 100%;

        figure {
            height: inherit;
            width: 100%;
            margin: 0;
        }
    }
}

.navbar-menu-sub-back {
    display: none;

    @include breakpoint-down("tablet") {
        background-color: $navbar-menu-sub-title-background-color;
        border: 0;
        border-bottom: 1px solid $navbar-border;
        display: block;
        font-size: $base-font-size;
        font-family: $base-font-family-regular;
        font-weight: 900;
        outline: none;
        padding: 22px $navbar-menu-spacing;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;

        &:before {
            content: $icon-arrow-left;
            font-family: "teleicon-ui";
            position: absolute;
            top: calc(50% - 0.5em);
            left: $navbar-menu-spacing;
        }
    }
}

.navbar-menu-sub-heading {
    margin-bottom: 0;

    > a {
        color: $navbar-color;
        display: block;
        font-size: $base-font-size;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: $navbar-active-color;
            text-decoration: none;
        }
    }

    @include breakpoint-down("tablet") {
        border-bottom: 1px solid $navbar-border;

        > a {
            padding: 22px $navbar-menu-spacing;
        }
    }

    @include breakpoint-up("desktop") {
        > a {
            padding: 0 ($navbar-menu-spacing * 2) $navbar-menu-spacing;
        }
    }
}

.navbar-menu-sub-list {
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;

    > li {
        display: block;

        &:not(.has-button) {
            > a {
                @extend .navbar-link;
                display: block;
    
                &:hover, &:focus {
                    background-color: $navbar-menu-sub-title-background-color;
                }
            }
        }

        &.has-button > a {
            display: block;
            margin: $spacer-y - .5 $spacer-x 0;
            transition: none;
        }
    }
    
    @include breakpoint-up("desktop") {
        > li {
            &:last-of-type {
                border-bottom: none;
            }

            &:not(.has-button) {
                > a {
                    padding: $navbar-menu-spacing ($navbar-menu-spacing * 2);
                }
            }

            .navbar-menu-sub-heading {
                padding-top: $navbar-menu-spacing;
            }
        }
    }

    @include breakpoint-down("tablet") {
        > li {
            display: block;

            &:not(.has-button) {
                > a {
                    padding: 22px $navbar-menu-spacing;
                }
            }

            &.has-button > a {
                margin: $spacer-y $spacer-x;
                @include button-size-variation(18px, 12px, 26px);
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid $navbar-border;
            }

            .navbar-menu-sub-heading {
                border-bottom: none;
            }
        }
    }
}

.navbar-menu-state {
    display: none;

    ~ .is-hidden-on-toggled {
        opacity: initial;
        visibility: visible;
    }
    @include breakpoint-down("tablet") {
        &:checked {
            ~ .is-hidden-on-toggled {
                opacity: 0;
                visibility: hidden;
            }

            ~ .navbar-menu {
                height: 100%;
                opacity: 1;
                overflow-x: hidden;
                z-index: $zindex-navbar-menu-state;
            }

            ~ .navbar-menu-toggle {
                &:after {
                    content: "sluit";
                }

                span > span:nth-child(1) {
                    @include transform(rotate(45deg));
                    left: 3.3px;
                    top: 1px;
                }

                span > span:nth-child(2) {
                    opacity: 0;
                    width: 0%;
                }

                span > span:nth-child(3) {
                    @include transform(rotate(-45deg));
                    left: 3.3px;
                    top: 16.5px;
                }
            }
        }
    }
}

@include breakpoint-down("tablet") {
    .has-navbar-menu-toggled,
    .has-navbar-menu-toggled > body {
        height: 100%;
        overflow: hidden;
    }

    .has-navbar-menu-toggled > body {
        padding-top: 0 !important;

        .navbar {
            position: absolute;
            top: 0;
        }
    }
}

.navbar-menu-toggle {
    @extend .navbar-item;
    @include transform(rotate(0deg));
    @include transition(0.5s ease-in-out);
    align-self: center;
    border-left: 1px solid $navbar-border;
    cursor: pointer;
    height: $navbar-height;
    left: 0;
    margin-left: $navbar-item-spacing / 2;
    padding: 0 $navbar-item-spacing;
    width: $navbar-height;

    @include breakpoint-up("desktop") {
        display: none;
    }

    &:after {
        bottom: 15px;
        content: "menu";
        display: block;
        font-size: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    > span {
        height: $navbar-menu-toggle-size;
        margin: 0 auto;
        position: relative;
        width: $navbar-menu-toggle-size;
    }

    span > span {
        @include transform(rotate(0deg));
        @include transition(0.25s ease-in-out);
        background: $navbar-color;
        border-radius: 2px;
        display: block;
        height: 2px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
    }

    span > span:nth-child(1) {
        top: 0;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    span > span:nth-child(2) {
        top: 8px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    span > span:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
}

/* Search
 ========================================================================== */

.navbar-search {
    @extend .navbar-item;
    color: $navbar-color;
    flex-wrap: wrap;
}

.navbar-search-open {
    cursor: pointer;
    padding: $navbar-item-spacing / 2;
}

.navbar-search-input {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $navbar-color;
    display: none;
    font-family: $base-font-family-regular;
    font-size: inherit;
    height: auto;
    outline: none;
    padding: 0 10px;
    width: 100%;

    &::-ms-clear {
        display: none;
    }
}

.navbar-search-close {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: none;
    font-size: inherit;
    padding: 0;
}

.navbar-search-overlay {
    @include transition(opacity 0.3s ease-in-out);
    height: 0;
    opacity: 0;
    width: 0;
}

.navbar-search-show {
    .navbar-search-open {
        padding-right: 0;
    }
    
    .navbar-search-overlay {
        background-color: $color-black;
        display: block;
        height: calc(100vh - #{$navbar-height});
        left: 0;
        opacity: 0.7;
        position: fixed;
        top: #{$navbar-height};
        width: 100vw;
    }
}

.navbar-search-autocomplete {
    &.autocomplete {
        border-top-width: 1px;
        max-height: calc(100% - #{$navbar-height});
        z-index: $zindex-navbar + 1;

        .autocomplete-suggestion.selected {
            background-color: $navbar-search-autocomplete-background-color;
            color: $navbar-search-autocomplete-selected-color;
        }
    }
}

/* Cart
 ========================================================================== */

.navbar-cart {
    @extend .navbar-item;
    color: $navbar-color;
    flex-wrap: wrap;
    position: relative;
}

.navbar-cart-open {
    cursor: pointer;
    padding: $navbar-item-spacing / 2;
}

.navbar .navbar-cart-open:hover {
    color: initial;
}

.navbar-cart-dropdown {
    background-color: $navbar-cart-dropdown-background-color;
    border: 1px solid $navbar-cart-dropdown-border-color;
    display: none;
    font-size: $navbar-cart-dropdown-font-size;
    position: relative;
    text-transform: none;
    width: $navbar-cart-dropdown-width;
    z-index: $zindex-tooltip;

    &.navbar-cart-dropdown-open {
        display: block;
    }

    .navbar-cart-arrow {
        background-color: $navbar-cart-dropdown-background-color;
        border-left: 1px solid $navbar-cart-dropdown-border-color;
        border-top: 1px solid $navbar-cart-dropdown-border-color;
        display: block;
        height: 15px;
        position: absolute;
        top: -8px;
        transform: rotate(45deg);
        width: 15px;
    }
}

.navbar-cart-list {
    max-height: calc(100vh - 270px);
    overflow: auto;
}

.navbar-cart-footer {
    background-color: $navbar-cart-dropdown-background-color;
    border: 1px solid $navbar-cart-dropdown-border-color;
    bottom: -$navbar-cart-footer-height;
    left: -1px;
    position: absolute;
    right: -1px;
}

.navbar-cart-backdrop {
    @include transition(opacity 0.3s ease-in-out);
    height: 0;
    opacity: 0;
    width: 0;
}

.navbar-cart-dropdown.is-shown+.navbar-cart-backdrop {
    background-color: $navbar-cart-dropdown-color;
    display: block;
    height: calc(100vh - #{$navbar-height});
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: #{$navbar-height};
    width: 100vw;
}

@include breakpoint-down("tablet") {
    .navbar-search {
        &.navbar-search-show {
            background-color: $navbar-background-color;
            left: 0;
            margin-left: 0;
            position: fixed;
            width: 100%;
            z-index: $zindex-search;

            .navbar-search-input {
                display: flex;
                flex: 1;
                height: $navbar-height;
            }

            .navbar-search-close {
                display: block;
                margin-right: $navbar-search-spacing / 2;
            }
        }
    }
    .navbar-search-autocomplete {

        &.autocomplete {
            height: calc(100vh - #{$navbar-height});
            left: 0 !important;
            position: fixed;
            top: $navbar-height !important;
            width: 100vw !important;
        }
    }
}

@include breakpoint-up("desktop") {
    .navbar-search {
        &.navbar-search-show {
            @include make-container-max-widths;
            background-color: $navbar-background-color;
            height: $navbar-height;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            z-index: $zindex-search;

            .navbar-search-open-label {
                display: none;
            }

            .navbar-search-input {
                display: flex;
                flex: 1;
                height: 100%;
            }

            .navbar-search-close {
                display: block;
            }
        }
    }
}

/* User
 ========================================================================== */

.navbar-user {
    @extend .navbar-item;
    @include breakpoint-up("desktop") {
        margin-left: auto;
        position: relative;
    }
    &.navbar-user-dropdown-open {
        .navbar-user-toggle:not([href]) {
            pointer-events: none;
        }
        .navbar-user-dropdown {
            display: block;
        }
    }
}

.navbar-user-toggle {
    padding: $navbar-item-spacing / 2;
}

.navbar-user-dropdown {
    background-color: $navbar-background-color;
    display: none;
    height: 100vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: $zindex-user-dropdown;

    @include breakpoint-down("tablet") {
        padding-top: $navbar-height;
        position: fixed;
    }

    @include breakpoint-up("desktop") {
        border: 1px solid $navbar-border;
        height: auto;
        top: $navbar-height - 1;
        width: 300px;

        .navbar-user-dropdown-arrow {
            background-color: $navbar-cart-dropdown-background-color;
            border-left: 1px solid $navbar-cart-dropdown-border-color;
            border-top: 1px solid $navbar-cart-dropdown-border-color;
            display: block;
            height: 15px;
            left: $navbar-user-dropdown-spacing * 2;
            position: absolute;
            top: -8px;
            transform: rotate(45deg);
            width: 15px;
        }
    }
}

.navbar-user-close {
    background: transparent;
    border: none;
    color: inherit;
    display: none;
    font-size: inherit;
    line-height: $navbar-height;
    padding: 0;
    position: absolute;
    top: 0;
    right: $spacer-x * 2.5;

    @include breakpoint-down("tablet") {
        display: block;
    }
}

.navbar-user-menu {
    @include breakpoint-down("tablet") {
        -webkit-overflow-scrolling: touch;
        height: 100%;
        overflow-y: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-top: 1px solid $navbar-border;

            &:first-child {
                border-top-color: transparent;
            }

            a {
                color: $navbar-color;
                display: block;
                padding: $spacer-y $spacer-x;
                text-decoration: none;
                text-transform: none;
            }
        }
    }
}

.navbar-user-menu-icon {
    display: inline-block;
    margin-right: 10px;
}

.navbar-user-menu-title {
    text-transform: none;
    font-size: 0.888888em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @include breakpoint-up("desktop") {
        .navbar-menu-sub-container .navbar-menu-sub-column,
        .navbar-menu-sub-container .navbar-menu-sub-promo-column {
            flex: 1 0 auto;
        }
          
        .navbar-full-image-promo:last-of-type {
            margin-right: 20px;
        }

        .navbar-full-image-promo figure {
            margin-right: $spacer-x - 0.5;
        }
    }

    @include breakpoint-up("tablet") { 
        .navbar-full-image-promo:last-of-type {
            margin-right: $spacer-x - 0.5;
        }
    }
    
    @include breakpoint-down("tablet") {
        .navbar-image-promo > img {
            min-height: 1px;
        }
    }
}