/// <reference path="../../_design-system.scss" />

//
// Subject:         Tab
// Description:     Responsive horizontal navigation tabs, with different styles.
//
// ===========================================================================

/* ========================================================================
   Component: Tab
 ========================================================================== */

.tab {
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    user-select: none;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: $tab-margin-bottom;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    a {
        align-items: center;
        border-bottom: $tab-border-width solid transparent;
        color: darken($tab-border-color, 10%);
        cursor: pointer;
        display: flex;
        font-weight: $tab-link-font-weight;
        justify-content: center;
        margin-bottom: $tab-border-width * -1;
        padding: $tab-link-padding;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: top;

        &:hover {
            color: $tab-active-color;
        }
    }

    ul {
        align-items: center;
        border-bottom: $tab-border-width solid $tab-border-color;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;

            &.is-active a {
                border-bottom-color: $tab-active-color;
                color: $tab-active-color;
            }
        }
    }
}

/* Alignment
========================================================================== */

.tab-centered {
    justify-content: center;
}

.tab-right {
    justify-content: flex-end;
}

/* Pane
========================================================================== */

.tab-pane {
    display: none;
    padding: $tab-pane-spacing-y 0 0;

    &.is-active {
        display: block;
    }
}