/// <reference path="../../_design-system.scss" />

//
// Subject:         Sticker
// Description:     Defines styles for sticker component.
//
// ===========================================================================

/* ========================================================================
   Component: Sticker
 ========================================================================== */

.sticker {
	background-color: #53BAF2;
	bottom: 10%;
	display: block;
	font-weight: 900;
	left: 0;
	line-height: 20px;
	max-width: 170px;
	opacity: 0.9;
	padding: 10px;
	position: absolute;
	z-index: 2;
}

@include breakpoint-down("tablet") {
    .sticker {
        font-size: 12px;
        line-height: 12px;
        max-width: 115px;
    }
}
